body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 100svh;
  max-height: 100svh;
}

#main-canvas {
  border: solid 1px black;
  display: block;
  height: 100%;
}
